@import '../../styles/breakpoints';

.wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: $md) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.current {
    flex: 0 0 auto;
}

.button {
    flex: 0 0 75px;

    &.next {
        text-align: right;
    }
}
