@import '../../styles/breakpoints';

.wrap {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: $md) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.list {
    justify-content: center;
}
