@import '../../../styles/breakpoints';

.button {
    display: block;
    width: max-content;
    max-width: 220px;
    padding: 1.4em 1.8em;
    color: var(--text);
    background-color: var(--background);
    border: 2px solid var(--text);
    border-radius: 4px;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
        color: var(--background);
        background-color: var(--text);
    }
}
