@import '../../styles/breakpoints';

.container {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}

.main {
    padding-bottom: 15px;

    @media (min-width: $md) {
        padding-bottom: 30px;
    }
}
