@import '../../../styles/breakpoints';

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    &:not(:first-child) {
        margin-top: 80px;
    }
}

.answer {
    margin-top: 30px;
}
