@import '../../styles/breakpoints';

.post {
    display: grid;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);

    @media (min-width: $sm) {
        grid-template-columns: 2fr 3fr;
    }

    @media (min-width: $md) {
        grid-template-columns: 1fr;
    }

    &:hover {
        .overlay {
            opacity: 0.3;
        }
    }
}

.thumbnail {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;

    @media (min-width: $sm) {
        border-radius: 10px 0 0 10px;
    }

    @media (min-width: $md) {
        border-radius: 10px 10px 0 0;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, var(--primary), var(--secondary));
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 1;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.title {
    position: relative;
    padding-bottom: 4px;
}

.description {
    margin-top: 10px;
}
