@import '../../styles/breakpoints';

.hero {
    height: 200px;

    @media (min-width: $sm) {
        height: 350px;
    }
    @media (min-width: $md) {
        height: 500px;
    }
}

.info {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--primary);
}

.related {
    margin-top: 60px;
}
