.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy {
    margin-top: 30px;
    opacity: 0.65;

    li {
        text-align: left;
    }
}

.cta {
    margin-top: 30px;
}
