@import './reset.scss';
@import './containers.scss';
@import './typography.scss';

:root {
    --text: #000000;
    --background: #ffffff;
    --primary: #1cb1d1;
    --secondary: #fdb71a;
    --heading: 'Merriweather', serif;
    --body: 'Source Sans Pro', sans-serif;
}

html,
body {
    @extend %body;

    color: var(--text);
    background: var(--background);
}
