/* Typography */
%h1 {
  font-size: 40px;
  font-family: var(--serif);
  font-weight: 700;
}

%h2 {
  font-size: 30px;
  font-family: var(--serif);
  font-weight: 700;
}

%h3 {
  font-size: 24px;
  font-family: var(--serif);
  font-weight: 700;
}

%h4 {
  font-size: 20px;
  font-family: var(--serif);
  font-weight: 700;
}

%h5 {
  font-size: 16px;
  font-family: var(--serif);
  font-weight: 700;
}

%h6 {
  font-size: 14px;
  font-family: var(--serif);
  font-weight: 700;
}

%body {
  font-size: 20px;
  font-family: var(--sans-serif);
}

%body-small {
  font-size: 14px;
  font-family: var(--sans-serif);
}

%subtitle {
  font-size: 16px;
  font-family: var(--sans-serif);
}

.h1 {
  @extend %h1;
}
.h2 {
  @extend %h2;
}
.h3 {
  @extend %h3;
}
.h4 {
  @extend %h4;
}
.h5 {
  @extend %h5;
}
.h6 {
  @extend %h6;
}
.body {
  @extend %body;
}
.body-small {
  @extend %body-small;
}
.subtitle {
  @extend %subtitle;
}

// Rich text
.rte {
  h1 {
    @extend %h1;
    margin: 0.67em 0;
  }
  h2 {
    @extend %h2;
    margin: 0.83em 0;
  }
  h3 {
    @extend %h3;
    margin: 1em 0;
  }
  h4 {
    @extend %h4;
    margin: 1.33em 0;
  }
  h5 {
    @extend %h5;
    margin: 1.67em 0;
  }
  h6 {
    @extend %h6;
    margin: 2.33em 0;
  }
  p {
    @extend %body;
    margin: 1em 0;
  }
  li {
    @extend %body;
    margin: 0.83em 0;
  }
  & > *:first-child {
    margin-top: 0;
  }
}

// Forms
input,
select,
textarea,
button {
  @extend %body;
}
